
body {
    line-height: 1.5;
    font-size: 100%;
    font-family: sans-serif;
    color: #2d2d2d;
}

header {
    padding-top: 1em;
    text-align: center;
    font-weight: bold;
    line-height: 1;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
}

.download-form {
    width: 40%;
    margin: 0 auto;
    padding-top: 4em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 1em;
    text-align: center;
}

.download-form select {
    width: 100%;
    font-size: 1em;
    border: 0;
    background: #dc0067 url(../images/arrow-down.png) 97% 50% no-repeat;
    cursor: pointer;
    color: #ffffff;
    padding: 0.5em 1em;
    display: block;
    margin-bottom: 1em;
    border-radius: 0;
    -webkit-appearance: none;
}

.download-form .button {
    display: block;
    text-decoration: none;
    font-size: 1em;
    border: 0;
    color: #ffffff;
    padding: 1em;
    cursor: pointer;
    background: #2d2d2d;
    width: 100%;
    margin-bottom: 1em;
}

.download-form .button:hover {
    background: #ffb400;
}

@media (max-width: 60em) {

    .download-form {
        padding: 2em;
        width: 70%;
    }

}
p { 
margin: auto;
text-align: center;
}
p a{
    color: #000;
    text-decoration: none;
}
p a:hover {
    color: #fff;
    background-color: #dc0067;
    text-decoration: none;
}

@media (max-width: 40em) {

    .download-form {
        padding: 1em;
        width: 90%;
    }

}