/*  freifunk flensburg website stylesheets */

/*  reset css;
    ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style-position: inside;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:focus,
button:focus {
    outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

/*  use border box
    ========================================================================== */

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*  main elements
    ========================================================================== */

html {
    font-size: 120%;
    background: #ffffff; /* white */
    color: #000000; /* black */
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    line-height: 1.4;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 700;
}

a {
    color: #000000; /* black */
}

address {
    font-style: normal;
}

strong {
    font-weight: 700;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

address,
ul,
p {
    margin-bottom: 1em;
}

address:last-child,
ul:last-child,
p:last-child {
    margin-bottom: 0;
}

::-moz-selection {
    background: #dc0067; /* freifunk magenta */
    color: #ffffff; /* white */
    text-shadow: none;
}

::selection {
    background: #dc0067; /* freifunk magenta */
    color: #ffffff; /* white */
    text-shadow: none;
}

.browse-happy,
noscript {
    background-color: #ffb400; /*freifunk-gelb*/
    color: #ffffff; /* white */
    width: 100%;
    padding: 2em;
    display: block;
    margin: 1em 0;
}

.browse-happy a,
noscript a {
    color: #ffffff; /* white */
}

/*  helper
    ========================================================================== */

.section-standard {
    padding: 4em 2em;
    margin: 0 auto;
    max-width: 1200px;
}

.section-standard:after {
    content: '';
    display: block;
    clear: both;
}

.section-image {
    position: relative;
    overflow: hidden;
}

@media all and (max-height: 1000px) {
    .section-image {
        max-height: 400px;
    }
}

@media all and (max-height: 800px) {
    .section-image {
        max-height: 350px;
    }
}

.section-image figcaption h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 1em #000000; /* black */
    font-size: 4em;
    color: #ffffff; /* white */
    text-transform: uppercase;
}

.section-image img {
    width: 100%;
}

@media all and (max-width: 1350px) {
    .section-image figcaption h2 {
        font-size: 3.5em;
    }
}

@media all and (max-width: 760px) {
    .section-image {
        max-height: auto;
    }

    .section-image figcaption h2 {
        font-size: 2em;
        bottom: 0.5em;
    }
}

@media all and (max-width: 500px) {
    .section-image figcaption h2 {
        position: static;
        font-size: 2em;
        color: #000000;
        text-shadow: none;
        margin-top: 0.5em;
        line-height: 1;
        padding: 0 0.5em;
    }
}

/*  header
    ========================================================================== */

.main-header-wrap {
    background-color: #ffffff; /* white */
    width: 100%;
}

.main-header-wrap header {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

html.sticky .main-header-wrap {
    border-bottom: 2px solid #d3d3d3; /* light grey */
    position: fixed;
    top: 0;
    z-index: 2342;
}

.logo {
    width: 256px;
    padding: 1em 0;
    transition: width 500ms, padding 500ms;
    -moz-transition: width 500ms, padding 500ms;
    -webkit-transition: width 500ms, padding 500ms;
}

.logo a {
    display: block;
    text-indent: -9999px;
    background: transparent url(../images/freifunk-flensburg.svg) 0 0 no-repeat;
    background-size: 100% auto;
    height: 0;
    padding-top: 31.25%;
}

html.sticky .logo {
    width: 200px;
    padding: 0.25em 0;
    margin-left: -120px
}

html.sticky .logo a {
    background-position: 120px 0;
    overflow: hidden;
}

.main-navigation {
    position: absolute;
    right: 2em;
    bottom: 0;
}

.main-navigation ul {
    list-style: none;
}

.main-navigation ul li {
    display: inline-block;
}

.main-navigation ul li a {
    text-decoration: none;
    display: block;
    padding: 1em;
}

.main-navigation ul li a:hover {
    text-decoration: underline;
}

.main-navigation ul li:last-child a {
    padding-right: 0;
}

@media all and (max-width: 800px) {
    html.sticky .main-header-wrap,
    .main-header-wrap {
        border-bottom: 2px solid #d3d3d3; /* light grey */
        position: static;
        z-index: 2342;
    }

    .logo {
        width: 200px;
        padding: 0.25em 0;
        margin-left: -120px
    }

    .logo a {
        background-position: 120px 0;
        overflow: hidden;
    }
}

@media all and (max-width: 1000px) {
    .logo {
        float: left;
    }

    .main-navigation {
        float: right;
        padding: 1em 0;
        position: static;
        text-align: right;
    }

    .main-header-wrap header {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .main-navigation ul {
        background-image: url(../../assets/images/iconmonstr-menu-1.svg);
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: right 0.7em top;
        display: block;
        min-height: 30px;
        min-width: 100px;
        padding-top: 2em;
    }

    .main-navigation ul:focus li, .main-navigation ul:active li, .main-navigation ul:hover li {
        cursor: pointer;
        display: block;
    }

    .main-navigation ul:hover {
        background-position: right 1em top;
        background-size: 30px;
        padding-top: 1.5em;
    }

    .main-navigation ul li {
        display: none;
        padding-right: 1em;
    }

    .html.sticky .main-navigation ul li {
        display: none;
    }

    .main-navigation ul li a {
        padding: 0;
    }

    .main-navigation ul li:last-child a {
        padding-right: 0em;
    }
}

@media all and (max-width: 500px) {
    .section-standard {
        padding: 0.5em;
    }

    .show-customer {
        padding-top: 1em !important;
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
        padding-bottom: 0.5em !important;
    }
}

/*  start section
    ========================================================================== */

.start {
    clear: both;
    background-color: #dc0067; /* freifunk magenta */
    position: relative;
    height: 500px;
}

@media all and (max-height: 1000px) {
    .start {
        height: 400px;
    }
}

@media all and (max-height: 800px) {
    .start {
        height: 300px;
    }
}

.start canvas {
    opacity: 0.5;
}

.start figcaption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table;
}

.start figcaption h2 {
    background-image: url(../images/ff_meshwebsite.svg);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff; /* white */
    text-transform: uppercase;
    font-size: 4em;
    line-height: 1;
    margin-top: -1em;
    padding: 0 2em;
}

@media all and (max-width: 1350px) {
    .start figcaption h2 {
        font-size: 3.5em;
    }
}

@media all and (max-width: 800px) {
    .start {
        height: auto;
    }

    .start canvas {
        display: none;
    }

    .start figcaption {
        position: static;
    }

    .start figcaption h2 {
        position: static;
        padding: 2em;
        font-size: 2em;
    }
}

@media all and (max-width: 500px) {
    .start figcaption h2 {
        font-size: 1.5em;
    }
}

/*  about section
    ========================================================================== */

.about_main figure {
    width: 30%;
    padding-left: 2em;
    float: right;
}

.about_main:after {
    content: '';
    clear: both;
    display: block;
}

@media all and (max-width: 800px) {
    .about_main figure {
        width: 100%;
        padding-left: 0;
        padding-bottom: 2em;
        float: none;
        text-align: center;
    }
}

/*  participate section
    ========================================================================== */

.choose-customer {
    list-style: none;
    margin-bottom: 0;
}

.choose-customer li {
    width: 100%;
    float: left;
    border-right: 2px solid #ffffff; /* white */
    cursor: pointer;
}

.choose-customer li:last-child {
    border: 0;
}

.choose-customer li header {
    background-color: #dc0067; /* freifunk magenta */
    color: #ffffff; /* white */
    padding: 2em;
    opacity: 0.7;
}
.choose-customer li header h3 {
    text-decoration: underline;
    margin-bottom:0.5em;
}
.choose-customer li header:hover {
    opacity: 0.8;
}

.choose-customer li header a{
    color:white;
}
.choose-customer li.active header {
    opacity: 1;
}

.choose-customer li.active:after {
    position: absolute;
    content: '';
    display: block;
    margin-left: 2em;
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid #dc0067; /* freifunk magenta */
}

.choose-customer:after {
    content: '';
    display: block;
    clear: both;
}

.show-customer {
    padding: 0 2em;
    clear: both;
    border-bottom: 2px solid #d3d3d3; /* light grey */
    border-left: 2px solid #d3d3d3; /* light grey */
    border-right: 2px solid #d3d3d3; /* light grey */
    padding-top: 40px;
    padding-bottom: 2em;
    min-height: 26em;
}

.participate_download-form {
    width: 50%;
    float: left;
    padding-right: 2em;
    border-right: 2px solid #d3d3d3;
}

.participate_download-form select,
.participate_download-form input,
.participate_download-form .button,
.participate_download-form .submit{
    display: block;
    padding: 0.5em 1em;
    margin: 0 0 1em 0;
    width: 100%;
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0;
    background-color: #ffffff; /* white */
    -webkit-appearance: none;
    border: 2px solid #d3d3d3; /* light grey */
}

.participate_download-form .select-field {
    position: relative;
}

.participate_download-form .select-field:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0.5em;
    margin-top: -0.15em;
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid #d3d3d3; /* freifunk magenta */
}

.participate_download-form .submit,
.participate_download-form .button {
    width: auto;
    display: inline-block;
    cursor: pointer;
    color: #ffffff; /* white */
    background-color: #dc0067; /* freifunk magenta */;
    border-color: #dc0067; /* freifunk magenta */;
}

.participate_download-form .submit:hover,
.participate_download-form .button:hover {
    background-color: #ffb400; /* freifunk yellow */
    border-color: #ffb400; /* freifunk yellow */
}

.participate_download-form .highlighted {
    color:#dc0067; /* freifunk magenta */;
}

.participate_list-links {
    width: 50%;
    float: right;
    padding-left: 2em;
}

.participate_list-links ul {
    list-style: none;
}

.participate_list-links ul li:before {
    content: '- ';
    display: inline;
}

@media all and (max-width: 9900px) {
    .participate_download-form {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-bottom: 1em;
        border-right: 0;
    }

    .participate_list-links {
        width: 100%;
        float: none;
        padding-left: 0;
    }
}

@media all and (max-width: 700px) {
    .choose-customer li {
        width: 100%;
        float: none;
        border: 0;
    }
}

/*  faq section
    ========================================================================== */

.faq_odd {
    float: left;
    width: 50%;
    padding-right: 1em;
}

.faq_even {
    width: 50%;
    padding-top: 2em;
    padding-left: 1em;
    float: right;
}

.faq_content {
    border-width: 2px;
    border-style: solid;
    border-color: #d3d3d3; /* light grey */
    padding: 1em;
    margin-bottom: 2em;
}

.faq_content:before {
    content: '?';
    display: block;
    line-height: 1;
    float: right;
    font-size: 8em;
    font-weight: bold;
    color: #dc0067; /* freifunk magenta */
    color: rgba(220, 0, 103, 0.5); /* freifunk magenta */
}

.faq_content h4 {
    padding: 0.5em;
    color: #ffffff; /* white */
    background-color: #dc0067; /* freifunk magenta */
    display: inline-block;
}

@media all and (max-width:600px) {
    .faq_odd,
    .faq_even {
        width: 100%;
        padding: 0;
        float: none;
    }

    .faq_content {
        margin-bottom: 2em;
    }
}

/*  donate section
    ========================================================================== */

.donate_left {
    float: left;
    width: 50%;
    padding-right: 2em;
    border-right: 2px solid #d3d3d3; /* light grey */
    overflow: auto;
}

.donate_right {
    width: 50%;
    float: right;
    padding-left: 2em;
}

.bank_account {
    border-collapse: separate;
    border-spacing: 15px;
}

/*  contact section
    ========================================================================== */

.contact_left {
    float: left;
    width: 50%;
    padding-right: 2em;
    border-right: 2px solid #d3d3d3; /* light grey */
}

.contact_right {
    width: 50%;
    float: right;
    padding-left: 2em;
}

@media all and (max-width: 800px) {
    .contact_left {
        float: none;
        width: 100%;
        padding-right: 0;
        border-right: 0;
        padding-bottom: 1em;
    }

    .contact_right {
        width: 100%;
        float: none;
        padding-left: 0;
    }
}

/*  footer
    ========================================================================== */

.main-footer {
    clear: both;
    padding: 2em;
    background-color: #d3d3d3; /* light grey */
}

.list-external-links {
    list-style: none;
    text-align: center;
}

.list-external-links li {
    display: inline-block;
}

.list-external-links li a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: #ffffff; /* white */
    font-weight: 700;
}

.list-external-links li a.facebook {
    background-color: #47639e; /* facebook blue */
}

.list-external-links li a.twitter {
    background-color: #32acd5; /* twitter blue */
}

.list-external-links li a.nordlab {
    background-color: #232323; /* nordlab black */
}

.list-external-links li a.freifunk {
    background-color: #dc0067; /* freifunk magenta */
}
.list-external-links li a.github {
    background-color: #829aa8;
}

@media all and (max-width: 800px) {
    .list-external-links li {
        display: block;
        margin-bottom: 0.25em;
    }

    .list-external-links li:last-child {
        margin-bottom: 0;
    }

    .list-external-links li a {
        display: inline-block;
    }
}

@media all and (max-width: 400px) {
    .list-external-links li a {
        display: block;
    }
}
