/*  freifunk flensburg website stylesheets */  

/*  reset css;
    ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style-position: inside;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:focus,
button:focus { 
    outline: none; 
}

button::-moz-focus-inner {
  border: 0;
}

/*  use border box
    ========================================================================== */

*,
*:before,
*:after {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -mz-box-sizing: border-box;
}

/*  main elements
    ========================================================================== */

html {
    font-size: 120%;
    background: #ffffff; /* white */
    color: #000000; /* black */
    font-family: 'Source Sans Pro', sans-serif;
}
    
body {
    line-height: 1.4;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;   
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 700;
}

a {
    color: #000000; /* black */
}

address {
    font-style: normal; 
}

strong {
    font-weight: 700;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

ul,
p {
    margin-bottom: 1em;
}

ul:last-child,
p:last-child {
    margin-bottom: 0;
}

::-moz-selection {
    background: #dc0067; /* freifunk magenta */
    color: #ffffff; /* white */
    text-shadow: none;
}

::selection {
    background: #dc0067; /* freifunk magenta */
    color: #ffffff; /* white */
    text-shadow: none;
}

/*  helper
    ========================================================================== */

.main-caption {
    background-color: #ffb400; /*freifunk-gelb*/
    color: #ffffff; /* white */
    padding: 0.5em;
    width: 25%;
    display: inline-block;
    margin-bottom: 1em;
}

.section-standard {
    padding: 4em 2em;
    margin: 0 auto;
    max-width: 1200px;
}

.section-standard:after {
    content: '';
    display: block;
    clear: both;
}

.section-image {
    position: relative;
    overflow: hidden;
}

@media all and (max-height: 1000px) {
    .section-image {
        max-height: 400px;
    }
}

@media all and (max-height: 800px) {
    .section-image {
        max-height: 350px;
    }
}

.section-image figcaption h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 1em #000000; /* black */
    font-size: 4em;
    color: #ffffff; /* white */
    text-transform: uppercase;
}

.section-image img {
    width: 100%;
}

@media all and (max-width: 1350px) {
    .section-image figcaption h2 {
        font-size: 3.5em;
    }
}

@media all and (max-width: 760px) {
    .section-image {
        max-height: auto;
    }

    .section-image figcaption h2 {
        font-size: 2em;
        bottom: 0.5em;
    }
}

/*  header
    ========================================================================== */

.main-header-wrap {
    background-color: #ffffff; /* white */
    width: 100%;
}

.main-header-wrap header {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

html.sticky .main-header-wrap {
    border-bottom: 2px solid #d3d3d3; /* light grey */
    position: fixed;
    top: 0;
    z-index: 2342;
}

/* ofset for better scrolling  ask spralexx */
/*html.sticky .start_simulate-wlan {
    transition: margin 1200ms;
    -moz-transition: margin 1200ms;
    -webkit-transition: margin 1200ms;
    margin-top: 8%;
}*/

.logo {
    width: 256px;
    padding: 1em 0;
    transition: width 500ms, padding 500ms;
    -moz-transition: width 500ms, padding 500ms;
    -webkit-transition: width 500ms, padding 500ms;
}

.logo a {
    display: block;
    text-indent: -9999px;
    background: transparent url(../images/freifunk-flensburg.svg) 0 0 no-repeat;
    background-size: 100% auto;
    height: 0;
    padding-top: 31.25%;
}

html.sticky .logo {
    width: 200px;
    padding: 0.25em 0;
    margin-left: -120px
}

html.sticky .logo a {
    background-position: 120px 0;
    overflow: hidden;
}

.main-navigation {
    position: absolute;
    right: 2em;
    bottom: 0;
}

.main-navigation ul {
    list-style: none;
}

.main-navigation ul li {
    display: inline-block;
}

.main-navigation ul li a {
    text-decoration: none;
    display: block;
    padding: 1em;
}

.main-navigation ul li:last-child a {
    padding-right: 0;
}

@media all and (max-width:800px) {

    .logo {
        width: 75px;
        padding: 1em;
    }

    .main-navigation {
        display: none;
    }

}

/*  start section
    ========================================================================== */

.start_simulate-wlan {
    clear: both;
    background-color: #dc0067; /* freifunk magenta */
    position: relative;
    height: 500px;
}

@media all and (max-height: 1000px) {
    .start_simulate-wlan {
        height: 400px;
    }
}

@media all and (max-height: 800px) {
    .start_simulate-wlan {
        height: 300px;
    }
}

.start_simulate-wlan canvas {
    opacity: 0.5;
}

.start_simulate-wlan figcaption h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ffffff; /* white */
    text-transform: uppercase;
    left: 0;
    top: 50%;
    font-size: 4em;
    line-height: 1;
    margin-top: -1em;
    padding: 0 2em;
}

@media all and (max-width: 1350px) {
    .start_simulate-wlan figcaption h2 {
        font-size: 3.5em;
    }
}

@media all and (max-width: 760px) {
    .start_simulate-wlan {
        height: auto;
    }

    .start_simulate-wlan canvas {
        display: none;
    }

    .start_simulate-wlan figcaption h2 {
        position: static;
        padding: 2em;
        font-size: 2em;
    }
}

/*  map section
    ========================================================================== */

.find-us_map {
    height: 600px;
    margin-bottom: 2em;
}

/*  participate section
    ========================================================================== */

.participate_list-choose-customer {
    list-style: none;
}

.participate_list-choose-customer li {
    width: 33.33333%;
    float: left;
    border-right: 2px solid #ffffff; /* white */
    cursor: pointer;
}

.participate_list-choose-customer li:last-child {
    border: 0;
}

.participate_list-choose-customer li header {
    background-color: #dc0067; /* freifunk magenta */
    color: #ffffff; /* white */
    padding: 2em;
}

.participate_list-choose-customer li:hover header h3,
.participate_list-choose-customer li.active header h3 {
    text-decoration: underline;
}

.participate_list-choose-customer li.active:after {
    content: '';
    display: block;
    margin-left: 2em;
    width: 0; 
    height: 0; 
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid #dc0067; /* freifunk magenta */
}

.participate_list-choose-customer:after {
    content: '';
    display: block;
    clear: both;
}

.participate_show-customer {
    border-bottom: 2px solid #d3d3d3; /* light grey */
    border-left: 2px solid #d3d3d3; /* light grey */
    border-right: 2px solid #d3d3d3; /* light grey */
    padding: 40px 2em 2em 2em;
    margin-top: -2em;
    display: none;
}

.participate_show-customer:after {
    content: '';
    display: block;
    clear: both;
}

.participate_show-customer.active {
    display: block;
}

.participate_download-form {
    width: 50%;
    float: left;
    padding-right: 1em;
    border-right: 2px solid #d3d3d3;
}

.participate_download-form select,
.participate_download-form input,
.participate_download-form .button {
    display: block;
    padding: 0.5em 1em;
    margin: 0 0 1em 0;
    width: 100%;
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0;
    background-color: #ffffff; /* white */
    -webkit-appearance: none;
    border: 2px solid #d3d3d3; /* light grey */
}

.participate_download-form .select-field {
    position: relative;
}

.participate_download-form .select-field:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0.5em;
    margin-top: -0.15em;
    width: 0; 
    height: 0; 
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid #d3d3d3; /* freifunk magenta */
}

.participate_download-form .button {
    width: auto;
    display: inline-block;
    cursor: pointer;
    color: #ffffff; /* white */
    background-color: #dc0067; /* freifunk magenta */;
    border-color: #dc0067; /* freifunk magenta */;
}

.participate_download-form .button:hover {
    background-color: #ffb400; /* freifunk yellow */
    border-color: #ffb400; /* freifunk yellow */
}

.participate_list-links {
    width: 50%;
    float: right;
    padding-left: 1em;
}

.participate_list-links ul {
    list-style: none;
}

.participate_list-links ul li:before {
    content: '- ';
    display: inline;
}

/*  faq section
    ========================================================================== */

.faq_odd {
    float: left;
    width: 50%;
    padding-right: 1em;
}

.faq_even {
    width: 50%;
    padding-top: 2em;
    padding-left: 1em;
    float: right;
}

.faq_content {
    border-width: 2px;
    border-style: solid;
    border-color: #d3d3d3; /* light grey */
    padding: 1em;
    margin-bottom: 2em;
}

.faq_content:before {
    content: '?';
    display: block;
    line-height: 1;
    float: right;
    font-size: 8em;
    font-weight: bold;
    color: #dc0067; /* freifunk magenta */
    color: rgba(220, 0, 103, 0.5); /* freifunk magenta */
}

.faq_content h4 {
    padding: 0.5em;
    color: #ffffff; /* white */
    background-color: #dc0067; /* freifunk magenta */
    display: inline-block;
}

@media all and (max-width:600px) {
    .faq_odd,
    .faq_even {
        width: 100%;
        padding: 0;
        float: none;
    }

    .faq_content {
        margin-bottom: 2em;
    }
}

/*  contact section
    ========================================================================== */

.contact_content{
    border-width: 2px;
    border-style: solid;
    border-color: #d3d3d3; /* light grey */
    padding: 1em;
}
.contact_left{
    float: left;
    width: 50%;
    padding-right: 1em;
}

.contact_right{
    width: 50%;
    float: right;
    padding-left: 1em;
}

/*  about section
    ========================================================================== */

.about_main figure {
    width: 30%;
    padding-left: 2em;
    float: right;
}

.about_main:after {
    content: '';
    clear: both;
    display: block;
}

/*  footer
    ========================================================================== */

.main-footer {
    clear: both;
    padding: 2em;
    background-color: #d3d3d3; /* light grey */
}

.list-external-links {
    list-style: none;
    text-align: center;
}

.list-external-links li {
    display: inline-block;
}

.list-external-links li a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: #ffffff; /* white */
    font-weight: 700;
}

.list-external-links li a.facebook {
    background-color: #47639e; /* facebook blue */
}

.list-external-links li a.twitter {
    background-color: #32acd5; /* twitter blue */
}

.list-external-links li a.nordlab {
    background-color: #232323; /* nordlab black */
}

.list-external-links li a.freifunk {
    background-color: #dc0067; /* freifunk magenta */
}
